# ===== Jupyter =====
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*.ipynb_checkpoints

# ===== Python =====
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
myenv/
.env/

# Mac
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# Ignore Jupyter notebooks
*.ipynb

# Dumps temporales de plate solving
platesolve_dumps/
